<nav>
    <a href="/">Home</a>
    <% if(user) { %>
        <strong><%= user.username %></strong>
        <a href="/users/me">My Profile</a>
        <a href="/users/<%=user._id%>/posts">View My Blog</a>
        <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
    <% } %>
    <a href="/users">Explore Our Community</a>
</nav>